body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; 
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.banner {
  position: relative;
  background-color: #104bca; 
  color: white; 
  width: 200px; 
  height: 320px; 
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Bottom Triangle */
.banner::after{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 50px solid white;

}

.logo {
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 160px; 
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%; 
  height: auto; 
}

.text {
  position: absolute;
  top: 98.9px; 
  width: 110%;
  text-align: center;
}

.text h1, .text h2 {
  margin: 0;
  padding: 0;
  font-size: 22.5px; 
}

.text p {
  margin: 20px 0;
  font-size: 14.5px; 
}
/* css ki mkc */